<!doctype html>
<title>◉ ◎ 𝑭𝒍𝒊𝒑𝗦𝘄𝗮𝗻𝘀𝗲𝗮</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='m.css') }}">
<canvas width="96" height="34" id="c"></canvas>
<canvas width="96" height="34" id="c2"></canvas>
<div class=page>
    <button type="button" onclick="snake()">Snake</button>
    <button type="button" onclick="cube()">Cube</button>
    <button type="button" onclick="sintext()">Text</button>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='socket.io.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='m.js') }}"></script>
