<!doctype html>
<title>◉ 𝑭𝒍𝒊𝒑𝗦𝘄𝗮𝗻𝘀𝗲𝗮 ◎</title>
<link rel=stylesheet type=text/css href="/static/m.css">
<div class=page>
<div id="app">
  <p>
    <router-link to="/snake">Snake</router-link>
    <router-link to="/cube">Cube</router-link>
    <router-link to="/pong">Pong</router-link>
  </p>
  <router-view></router-view>
</div>
</div>
<script src="/static/vue.js"></script>
<script src="/static/vue-router.js"></script>
<script src="/static/fulltilt.min.js"></script>
<script src="/static/gyronorm.min.js"></script>
<script src="/static/socket.io.js"></script>
<script src="/games.js"></script>
<script src="/static/m.js"></script>
