[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[packages]
Flask = "*"
Flask-SocketIO = "*"
eventlet = "*"
pygame = "*"
numpy = "*"
freetype-py = "*"
cython = "*"
noise = "*"
pyowm = "*"
pillow = "*"
pyserial = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"

[requires]
python_version = "3.5"

[dev-packages]
